.header__page {
  background-color: var(--clr-red);
  margin-bottom: 2em;
}

.header__page h1 {
  text-align: center;
  font-size: 6rem;
  padding: 0.2em;
  color: var(--clr-light);
  margin-bottom: 0;
  padding-bottom: 0;
}

.header__page p {
  max-width: 80%;
  margin: auto;
  text-align: center;
  font-size: 3rem;
  padding-bottom: 0.7em;
  color: var(--clr-light);
}

@media (max-width: 600px) {
  .header__page {
    width: 100vw;
  }
  .header__page h1 {
    font-size: 3rem;
  }
  .header__page p {
    font-size: 1.3rem;
  }
}
