.landing {
  color: #feffff;
  text-align: center;
  max-width: 70%;
  margin: 1% auto 0 auto;
}

.landing__span {
  text-decoration: underline;
  color: red !important;
}

.landing__link {
  color: red;
  font-size: 3rem;
  background-color: black;
  border-radius: 23px;
  padding: 0.4em;
}

@media (min-width: 777px) {
  .landing__header {
    font-size: 4rem;
  }

  .landing__text {
    font-size: 3rem;
  }

  .landing__link {
    color: red;
    font-size: 3rem;
  }
}
