body {
  background-color: var(--clr-dark);
}

.column {
  width: auto !important;
  max-width: 100% !important;
}

.card-group {
  justify-content: space-evenly !important;
  margin-bottom: 3em;
}

@media only screen and (max-width: 767px) {
  .card-group {
    display: flex !important;
    flex-direction: column !important;
  }
  .ui.cards {
    margin: 1rem auto;
  }
}
